<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.phonegap.plugins.barcodescanner"
      version="0.6.0">

    <name>BarcodeScanner</name>
    <description>Scans Barcodes.</description>
    <license>MIT</license>
    <keywords>cordova,device</keywords>

    <js-module src="www/barcodescanner.js" name="barcodescanner">
        <clobbers target="barcodescanner" />
    </js-module>

    <!-- begin ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner"/>
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />

        <header-file src="src/ios/zxing-all-in-one.h" />

        <source-file src="src/ios/CDVBarcodeScanner.mm"  />
        <source-file src="src/ios/zxing-all-in-one.cpp" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
    </platform>
    <!-- end ios -->

</plugin>
